# Maven specific files
target/

# Eclipse specific files
.project
.classpath
.settings/

# IntelliJ IDEA specific files
.idea/
*.iml
.factorypath

# NetBeans specific files
nbproject/

# VS Code specific files
.vscode/

# Mac specific files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db

# Log files
*.log

# Java specific files
*.class
*.jar
*.war
*.ear

# Package-specific files
*.apk
*.aab

# Gradle wrapper specific files
gradle-wrapper.jar
gradle-wrapper.properties

# JRebel specific files
.jrebel/

# Dependency and build-specific files
/.mvn/

# 忽略除 lib 目录下的 .jar 文件外的其他文件
/client/lib/*
!/client/lib/*.jar

.env
