.root {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: #f5f5f5;
}

#welcomeLabel {
    -fx-text-fill: #f5f5f5;
    -fx-font-family: Arial;
}

#openLink {
    -fx-text-fill: #007ACC;
}

#openLink:visited {
    -fx-text-fill: #007ACC;
}

.button {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: #f5f5f5;
}

.button:hover {
    -fx-background-color: #2b2b2b;
}

.tree-view {
    -fx-background-color: #3b3b3b;
}

.tree-cell {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: #f5f5f5;
}

.tree-cell:hover {
    -fx-background-color: #2b2b2b;
}

.tab-pane .tab-header-background {
    -fx-background-color: #1e1e1e;
}

.tab-pane .tab {
    -fx-background-color: #1e1e1e;
    -fx-text-base-color: #f5f5f5;
}

.tab-pane .tab:selected {
    -fx-background-color: #000000;
}

.tab-pane .tab:hover {
    -fx-background-color: #2b2b2b;
}

#terminalBackPane {
    -fx-background-color: #1e1e1e;
    -fx-border-color: #3b3b3b;
}

.label {
    -fx-text-fill: #f5f5f5;
}

.userlabel {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: #f5f5f5;
}

#coprintLabel {
    -fx-text-fill: #f5f5f5;
    -fx-background-color: transparent;
}

#copyrightBox {
    -fx-background-color: #1e1e1e;
}

.text-field {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #f5f5f5;
    -fx-border-color: #555555;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.text-field:focused {
    -fx-border-color: #007ACC;
}

.text-area {
    -fx-text-fill: #f5f5f5;
    -fx-background-color: transparent;
    -fx-border-color: #555555;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.text-area .content {
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 4;
}

.text-area:focused {
    -fx-border-color: #007ACC;
}

.scroll-pane {
    -fx-background-color: #3b3b3b;
}

.scroll-pane .viewport {
    -fx-background-color: #1e1e1e;
}

.grid-pane {
    -fx-background-color: #1e1e1e;
}

Vbox {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: #f5f5f5;
    -fx-border-color: #3b3b3b;
}

.table-view {
    -fx-background-color: #1e1e1e;
    -fx-border-color: #3b3b3b;
}

.table-row-cell:odd {
    -fx-background-color: #2b2b2b;
}

.table-row-cell:even {
    -fx-background-color: #1e1e1e;
}

.table-cell{
    -fx-text-fill: #f5f5f5;
    -fx-border-color: #3b3b3b;
}

.table-view .column-header {
    -fx-background-color: #1e1e1e;
}

.table-view .filler {
    -fx-background-color: #1e1e1e;
}
