.root {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
}

#welcomeLabel {
    -fx-text-fill: #ffffff;
    -fx-font-family: Arial;
}

.button {
    -fx-background-color: #1e1e1e;
}

.button:hover {
    -fx-background-color: #f4f4f4;
}

#openLink {
    -fx-text-fill: rgba(55, 148, 255, 1);
}

#openLink:visited {
    -fx-text-fill: rgba(55, 148, 255, 1);
}

.model-list-pane {
    -fx-background-color: #000000;
}

.file-tree-pane {
    -fx-background-color: #000000;
}

.tree-view {
    -fx-background-color: #000000;
}